button{
    border: none;
    background-color:$c-PurpleHeart;
    
    border-radius: 10px;
    font-size: pxToRem(16);
    color: $c-white;
    padding: 5px 10px;
    cursor: pointer;
    margin: 2% 10px;
    transition-duration: 0.4s;
    

}

.submit{
  margin: 2% 10px 100px;
}
  
button:hover{
    background-color: $c-Perfume;
}

.close-btn{
    height: 20px;
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    top: -10px;
    right: 0;
  }

.goback-btn{
    width: 2%;
    height: 20px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 20px;
    position: absolute;
    top: -10px;
    right:10px;
    span{
      cursor: pointer;
    }
    
}

.begin-btn{

}

