body{
  background-color: $c-WildSand;
}
*{
  text-decoration: none;
  font-weight:bold;
}

.App{
  text-align: center;
}

h1{
  color: $c-DeepKoamaru;
}

h2{
    color: $c-PurpleHeart;
  span{
    
    color: $c-Malibu;
    border-radius: 100%;
    padding: 1%;
  }
}

p{
  color: $c-black;
  font-size: $space-standard;
    
}

%place-shadow-holder{
  transition: 0.3s;
  @include boxShadow(0 $space-small $space-large 0 $c-RoyalBlue);
}

.Moto{
  @extend %place-shadow-holder;
   background-color: $c-PurpleHeart;
}
.Moto:hover{
  background-color:$c-Mercury;
}

.Kul{
  @extend %place-shadow-holder;
  background-color:$c-LightOrchid;
}
.Kul:hover{
  background-color:$c-Mercury;
}
.His{
  @extend %place-shadow-holder;
  background-color: $c-AzureRadiance;
}
.His:hover{
  background-color:$c-Mercury;
}
.Prog{
  @extend %place-shadow-holder;
  background-color: $c-Perfume;
}
.Prog:hover{
  background-color:$c-Mercury;
}

.Tech{
  @extend %place-shadow-holder;
  background-color: $c-FuchsiaBlue;
  
}
.Tech:hover{
  background-color:$c-Mercury;
}

.App-container__backgroundImgs{
  z-index: 0;
}

.App-container__components{
  z-index: 1;
}

%place-background-img-holder{
  position: absolute;
  z-index: 0;
  opacity:30%;
}

.bPic1{
   @extend %place-background-img-holder;
   @include createPos($space-X-large,14%,81%,117deg);
    
}

.bPic2{
  @extend %place-background-img-holder;
  @include createPos($space-xxx-large,41%,5%,20deg);
    
}
 
.bPic3{
  @extend %place-background-img-holder;
  @include createPos($space-xxx-large,20%,10%,303deg);
}


.bPic4{
  @extend %place-background-img-holder;
  @include createPos($space-XX-large,33%,84%,199deg);
    
}
.bPic5{
  @extend %place-background-img-holder;
  @include createPos($space-XX-large,80%,10%,230deg);
}
.bPic6{
  @extend %place-background-img-holder;
  @include createPos($wrapper-H-s,70%,85%,327deg);
}

  
.App_container{
  background-color: $c-WildSand;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $c-white;
}



