@function pxToRem($pxsize,$rembase:16){
    @return ($pxsize/$rembase) +rem;
}

@mixin boxShadow($arg){
    -webkit-box-shadow: $arg ;
    box-shadow: $arg;
} 

@mixin createPos($width,$top,$right,$rotate) {
    width: $width;
    top: $top;
    right:$right;
    transform: rotate($rotate)
}