/*=colors */

$c-white:#fff;
$c-WildSand:#f5f5f5;
$c-Mercury:#ebe9e9;
$c-black:#000000;
$c-DeepKoamaru:#1a1474;
$c-PurpleHeart: #5741d9;
$c-FuchsiaBlue:#8144c2;
$c-Perfume:#ac9ef9;
$c-LightOrchid: #dca3c8;
$c-RoyalBlue: rgb(56, 56, 111);
$c-Malibu:#61dafb;
$c-AzureRadiance:#0385e6;


/*=Paddings, Margins*/
$space-largeM: -30px;
$space-x-smallM: -10px;
$space-xxx-small:2px;
$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-large: 30px;
$space-x-large: 40px;
$space-xx-large: 45px;
$space-xxx-large:50px;
$space-X-large:100px;
$space-XX-large:150px;

/*=breaks*/
$break-xs: 500px;
$break-s: 740px;
$break-m: 850px;
$break-l: 1349px;

/*grid*/
$wrapper-H-s: 120px;
$wrapper-W-s: 140px;
$wrapper-H-m: 200px;
$wrapper-H: 250px;
$wrapper-H-l: 600px;
$wrapper-H-xl: 700px;
$wrapper-H-xxl: 800px;
$wrapper-h-xl:1200px;
$wrapper-H-Xxl: 1700px;
$wrappe-H-bodyM: 2150px;
$wrapper-H-bodyL: 2700px;
$wrapper-H-bodyXL: 3000px;

/*lists*/
$sizes: 
8.333333%, 16.66666667%, 25%, 33%, 33333333%, 41%, 66666667%, 50%,58.33333333%, 66.66666667%, 83.33333333%, 91.66666667%, 100%;
;