.Main-quizMenu{
    &-components__container{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 60vw;
        align-items: center;
        justify-content: center;
    }
    &-component{
        margin: 2% auto;
        border-radius: 5%;
        width: $wrapper-H-m;
    }
    &-component__icon{
        margin-top: $space-standard;
       img{
        width: $wrapper-W-s;
        max-height: $wrapper-H-s; 
      }
    }
}



@media only screen and (min-width: 0) and (max-width: $wrapper-H-l){
    .Main-quizMenu{
        &-components__container{
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            width: 90vw;
            align-items: center;
            justify-content: center;
            .Main-quizMenu-component{
                margin: 2% auto;
                border-radius: 5%;
                width: 130px;
                height: 130px;
                img{
                    width: 70px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
        
    }
}



@media only screen and (min-width: $wrapper-H-l) and (max-width: $wrapper-H-Xxl){
    .Main-quizMenu-components__container{
        width: 75vw;
        
    }

}

@media only screen and (min-width: $wrapper-H-Xxl) and (max-width: $wrappe-H-bodyM){
    .Main-quizMenu-components__container{
        width: 70vw;
    }

}