.Quiz{
    &-Question{
        display: flex;
        flex-direction: column;
        width: 50vw;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    &-Answer{
        justify-content: center;
        margin: $space-standard;
        display: flex;
        flex-direction: row;
        button{
            margin: $space-standard;
        }
    }
}


@media only screen and (min-width: 0) and (max-width: $wrapper-H-l){

    .Quiz{
        &-Question{
            width: 70vw;
        }
        &-Answer{
            flex-direction: column;
            button{
                margin: $space-standard;
            }
        }
    }
}

@media only screen and (min-width: $wrapper-H-l) and (max-width: $wrapper-H-Xxl){
    .Quiz{
        &-Answer{
            flex-direction: column;
        }
    }
}

@media only screen and (min-width: $wrapper-H-Xxl) and (max-width: $wrappe-H-bodyM){
    .Quiz{
        &-Answer{
            flex-direction: row;
        }
    }

}