.Quiz-Score{
    &__mainWrapper{
        display: flex;
        flex-direction: row;
        width: 50vw;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    &__components-container{
        width: 80%;
        height: 100%;
        .Quiz_icon img{
            width: 30%;
        }
    }
    &__SubMenu-container{
        padding-top: 5%;
        width: 20%;
        .SubMenu{
           &__components-container{
            .SubMenu-component{
               
                &__cathegory-container{
                    border-radius: 20px;
                    margin: 10px;
                }
                 img{
                    margin: 10px 0 5px;
                    width: 80px;
                    height: 80px;
                }
                p{
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
           }
        }
        
    }
}



@media only screen and (min-width: 0) and (max-width: $wrapper-h-xl){
    .Quiz-Score{
        &__mainWrapper{
            flex-direction: column;
            width: 70vw;
        }
        &__SubMenu-container{
            width: 54%;
            .SubMenu{
               &__components-container{
                .SubMenu-component{
                   
                    &__cathegory-container{
                        border-radius: 20px;
                        margin: 10px;
                        width: 100px;
                        height: 100px;
                    }
                     img{
                        margin: 10px 0 5px;
                        width: 80px;
                        height: 80px;
                    }
                    p{
                        font-size: 8px;
                    }
                }
               }
            }
            
        }
    }
    
}


@media only screen and (min-width: $wrapper-H-l) and (max-width: $wrapper-H-Xxl){
    .Quiz-Score{
        &__mainWrapper{
            flex-direction: column;
            width: 60vw;
        }
        &__components-container{
            width: 80%;
            height: 80%;
        }
        &__SubMenu-container{
            padding-top: 5%;
            width: 100%;
            .SubMenu{
               &__components-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .SubMenu-component{
                    width:200px;
                    &__cathegory-container{
                        border-radius: 20px;
                        margin: 10px;
                    }
                     img{
                        margin: 10px 0 5px;
                        width: 80px;
                        height: 80px;
                    }
                    p{
                        font-size: 16px;
                        padding-bottom: 10px;
                    }
                }
               }
            }
            
        }
    }
  
    
}

@media only screen and (min-width: $wrapper-H-Xxl) and (max-width: $wrappe-H-bodyM){
    
    
}
