.Quiz-cathegoryPage{
    width: 50vw;
    position: relative;
    &-img{
        width: 30%;
    }
}

@media only screen and (min-width: 0) and (max-width: $wrapper-H-l){
    .Quiz-cathegoryPage{
        width: 70vw;
        position: relative;
        &-img{
            width: 70%;
        }
    }
}

@media only screen and (min-width: $wrapper-H-l) and (max-width: $wrapper-H-Xxl){
    .Quiz-cathegoryPage{
        &-img{
            width: 45%;
        }
    }
}

@media only screen and (min-width: $wrapper-H-Xxl) and (max-width: $wrappe-H-bodyM){
    .Quiz-cathegoryPage{
        &-img{
            width: 30%;
        }
    }

}


