.container{
    justify-content: center;
    align-items: center;
}

.Quiz-DnDAnswer{
    width: 30%;
    border-radius: $space-standard;
    &__DropContext{
        padding: 0.5% 0 6% 0;
        margin-bottom: $space-standard;
        border-radius: $space-standard;
    }
    
    
    &__Draggable-Answer{
        background-color:$c-WildSand; 
        border: 1px solid $c-Mercury;
        border-radius: $space-standard;
        margin: $space-standard $space-standard 0 $space-standard;
        padding: $space-x-small;
        color: $c-black;
        font-size: $space-small;
    }
    
}
.Quiz-DnDAnswer__Dropable-container{
    margin-top: $space-large;


}
@media only screen and (min-width: 0) and (max-width: $wrapper-H-l){

    .Quiz-DnDAnswer{
        &{
            width: 100%;
        }
        &__SubmitBtn-container{
            margin-bottom: $space-large;
        }
    }
}

@media only screen and (min-width: $wrapper-H-l) and (max-width: $wrapper-H-Xxl){
    .Quiz-DnDAnswer{
        &{
            width: 60%;
        }
        &__SubmitBtn-container{
            margin-bottom: $space-large;
        }
    }
}

@media only screen and (min-width: $wrapper-H-Xxl) and (max-width: $wrappe-H-bodyM){
    
    .Quiz-DnDAnswer{
        &{
            width: 40%;
        }
        &__SubmitBtn-container{
            margin-bottom: $space-large;
        }
    }

}
